/* CSS RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  height: 270px;
  outline: 1px solid red;
  background: url("../assets/background.jpg") center center/cover;
  padding-block: 20px;
}

header .budget-title {
  color: #ffffff;
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
}

header .budget-amount {
  text-align: center;
  margin-block: 20px;
  font-size: 2.8rem;
  color: #ffffff;
}

header .budget-type-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

header .budget-type-container .budget-income-container,
header .budget-type-container .budget-expense-container {
  width: 400px;
  padding: 15px 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

header .budget-type-container .budget-income-container {
  background-color: #28b9b5;
}

header .budget-type-container .budget-expense-container {
  background-color: #ff5049;
}

header .budget-type-container span {
  color: #ffffff;
}

header .budget-type-container .budget-name {
  color: #333;
}

header .budget-type-container .budget-expense-percent {
  font-size: 0.6rem;
  padding: 3px;
}
.description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  background-color: #f7f7f7;
  border-bottom: 1px solid silver;
}
.description-container .drop-down-container select {
  outline: none;
  height: 40px;
  width: 60px;
  padding:;
  border: 1px solid rgba(128, 128, 128, 0.621);
}
.description-container article {
  margin-left: 15px;
}
.description-container article:first-child {
  margin-left: 0;
}
.description-container .text-box input {
  width: 350px;
}
.description-container input{
  height: 40px;
  border: 1px solid #f7f7f7;
  outline: none;
  border-radius: 5px;
  padding: 0 15px;
}
.description-container input::placeholder {
  font-size: 15px;
  letter-spacing: 1px;
}
.description-container .value-box input {
  width: 100px;
}
.description-container .submit-container {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 128, 0, 0.949);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.submit-container i {
  color: rgba(0, 128, 0, 0.949);
}